#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Styles.css */

.container {
  display: block;
  max-width: 1400px;
  margin: auto auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #6336df;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
}

.btn {
  display: grid;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #c9e6c9;
  color: #1b1616;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary2 {
  background-color: #929b7e;
  color: #1b1616;
}

.headingColor {
  color: black;
}
